img {
  width: 300px;
  border-radius: 30px;
}

img:hover {
  width: 400px;
  height: 270px;
}
.logo {width: 50px;
height: 10px;}
div {
  font-size: x-large;
  font-family: fantasy;
  width: 400px;
}



body {
  background-color:rgb(142,
    246,
    211);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0;


}

a {
  color:azure;
}

a:hover {
  color:aquamarine;
}

.block {
  background-color: rgb(142, 246, 211);
  padding: 10px 15px 10px 15px;
}

.block p {
  width: 100%;
}

.block-hover a {
  color:rgb(30, 180, 210);
  text-decoration: none;
  font-size: 24px;
}

.block-hover a:hover {
  text-decoration: underline;
}
html,
.header {
  width: 100%;
  height: 70px;
  background-color: aqua;

  justify-content: space-around;
  
}
nav {
  display: flex;
  gap: 10px;
  transition: 0.5s;
}
a{text-decoration: none;}
